.gallery {
    &__header {
        margin-bottom: 40px;
        &__title {
            display:flex;
            justify-content: center;
            font-size: 1em;
            font-weight: lighter;
            margin-top: 40px;
        }
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 99vw;
        overflow-x: hidden;
        row-gap: 10px;;
        // height: 100vh;
    }
}

